@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* standard styles for paragraphs*/
p{
  font-size: 17px;
  font-family: brandongrotesque,Arial,Verdana,sans-serif;
  font-weight: 400;
}

/** Makes Warning Banner at the top of the page
 * WarningBanner.js
 */
.WarningBanner{
  background-color: #cf0000;
  width: 100%;
  padding-top: 1px;
  padding-bottom: 1px;
  color: white;
  text-align: center;
}

/** Makes the click here look like a link
 * WarningBanner.js
 */
.fakeLink{
  text-decoration: underline;
}

/** Puts the logo on the left of the navbar
 * Navbar.js
 */
.TopLogo{
  display: block;
  margin: 0px auto 0px auto;
}

/** Styles the bar on the navbar
 * Navbar.js
 */
.NavBar{
  text-align: center;
  margin-bottom: 0;
  background-color: #3f8f20;
  overflow: auto;
  padding: 10px 10px 10px 10px;
}

/** Removes the bullets from the <ul>
 * Navbar.js
 */
.NavBarList{
  list-style: none;
}

/** Styles the individual elements on navbar
 * Navbar.js
 */
.NavElement{
  display: block;
  margin: 10px 10px 10px 10px;
  padding-bottom: 5px;
  font-size: .9em;
  font-family: 'Montserrat', sans-serif;
  color: black;
  float: right;
  overflow: auto;
}

/** Underlines hovered navbar elements
 * Navbar.js
 */
.NavElement:hover{
  border-bottom: 2px blue solid;
}

/** Styles the logo on the navbar
 * Navbar.js
 */
.navBarPhoto{
  width: 300px;
  height: auto;
  float: left;
}

/** Indicates what page the user is on
 * Navbar.js
 */
.selected{
  color: white;
  border-bottom: 2px blue solid;
}

/*
    CODE UNUSED BUT HERE IF NEEDED

.DropDownMenu{
  display: none;
  position: absolute;
  background-color: white;
  border: 1px #004a94 solid;
  min-width: 200px;
  text-align: left;
}

.DropDownContent{
  display: block;
  padding: 10px;
  font-size: 15px;
}

.DropDownContent:hover{
  background-color: #a0b8d5;
}

.DropDownBtn:hover .DropDownMenu{
  display: block;
}*/

/** Removes the margin on the bottom
 * Description.js
 */
.removeBottomMargin{
  margin-bottom: 0;
}

/** Styles the description bar
 * Description.js
 */
.Description{
  margin-bottom: 0;
  color: white;
  background-color: rgba(0, 0, 0, .5);
  padding: 30px 0 30px 0;
  font-weight: 500;
  text-align: center;
}

/** puts the background and sizes the 
  * Description Card
 * Description.js
 */
.DescriptionCard{
  margin: 0;
  padding-top: 200px;
  background-image: url('./Photos/Storefront.png');
  background-position: center;
}

/** Creates the banner for the App Banner
 * AppBanner.js
 */
.AppBanner{
  display: flex;
  background-color: steelblue;
  margin: 0;
  padding: 0;
}

/** Styles the display cards
 * SmallCard.js
 */
.smallCard{
  width: 200px;
  height: 275px;
  border-radius: 10px;
  margin: 0 auto 0 auto;
  background-color: springgreen;
}

/** Adds shadow to display cards
 * SmallCard.js
 */
.smallCard:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/** Styles the image on the top of the card
 * SmallCard.js
 */
.cardImgHeader{
  width: 200px;
  height: 200px;
  border-radius: 10px 10px 0 0;
}

/** Styles the text on the image
 * SmallCard.js
 */
.cardText{
  padding: 0 35px 0 35px;
  text-align: center;
}

/** Styles the deck (any group of cards)
 * BasicOperations.js
 * Wellness.js
 */
.deck{
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #8ea9cd;
}

/** Styles the image on the app banner
 * AppBanner.js
 */
.appImg{
  margin-left: 0;
  margin-right: auto;
  width: fit-content;
}

/** Styles the text on the app banner
 * AppBanner.js
 */
.appTxt{
  text-align: center;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: auto
}

/** Removes the bullets from the app feature list
 * AppBanner.js
 */
.appList{
  list-style-type: none;
}

/** Styles the banner for the location banner
 * Location.js
 */
.LocationBanner{
  display: flex;
  background-color: steelblue;
  margin: 0;
  padding: 0;
}

/** Styles the text for the location banner
 * Location.js
 */
.LocationText{
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
}

/** Styles the map for the location banner
 * Location.js
 */
.map{
  margin-left: 0;
  margin-right: 0;
  width: fit-content;
}

/** Keeps the text and the map next to each other
  * no matter the size of the window
 *Location.js
 */
.locationBlock{
  display: flex;
  margin: auto;
  width: fit-content;
}

/** Styles the footer bar
 * footer.js
 */
.footer{
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background-color: springgreen;
}