@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* standard styles for paragraphs*/
p{
  font-size: 17px;
  font-family: brandongrotesque,Arial,Verdana,sans-serif;
  font-weight: 400;
}

/** Makes Warning Banner at the top of the page
 * WarningBanner.js
 */
.WarningBanner{
  background-color: #cf0000;
  width: 100%;
  padding-top: 1px;
  padding-bottom: 1px;
  color: white;
  text-align: center;
}

/** Makes the click here look like a link
 * WarningBanner.js
 */
.fakeLink{
  text-decoration: underline;
}

/** Puts the logo on the left of the navbar
 * Navbar.js
 */
.TopLogo{
  display: block;
  margin: 0px auto 0px auto;
}

/** Styles the bar on the navbar
 * Navbar.js
 */
.NavBar{
  margin-bottom: 0;
  overflow: auto;
  padding: 10px 0 10px 0;
  width: 100px;
  position: fixed;
  top: 0;
  left: 0;
}

/** Removes the bullets from the <ul>
 * Navbar.js
 */
.NavBarList{
  list-style: none;
  padding: 0 0 0 0;
}

/** Styles the individual elements on navbar
 * Navbar.js
 */
.NavElement{
  display: block;
  padding: 10px 5px 10px 5px;
  font-size: .9em;
  font-family: 'Montserrat', sans-serif;
  color: #a6ccff;
  background-color: blue;
  overflow: auto;
}

.navButton{
  background: blue;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 2px;
}

/** Underlines hovered navbar elements
 * Navbar.js
 */
.NavElement:hover{
  color: white
}

/** Styles the logo on the navbar
 * Navbar.js
 */
.navBarPhoto{
  width: 300px;
  height: auto;
  float: left;
}

/** Makes the background darker so navbar is visible
 * Description.js*/
.landingOverlay{
  margin: 0;
  padding-bottom: 200px;
  background-color: rgba(0, 0, 0, .5);
}

/** Indicates what page the user is on
 * Navbar.js
 */
.selected{
  color: white;
}

/*
    CODE UNUSED BUT HERE IF NEEDED

.DropDownMenu{
  display: none;
  position: absolute;
  background-color: white;
  border: 1px #004a94 solid;
  min-width: 200px;
  text-align: left;
}

.DropDownContent{
  display: block;
  padding: 10px;
  font-size: 15px;
}

.DropDownContent:hover{
  background-color: #a0b8d5;
}

.DropDownBtn:hover .DropDownMenu{
  display: block;
}*/

/** Removes the margin on the bottom
 * Description.js
 */
.removeBottomMargin{
  margin-bottom: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
  padding: 0 20px 0 20px;
}

/** Styles the description bar
 * Description.js
 */
.Description{
  margin-bottom: 0;
  color: white;
  background-color: rgba(0, 0, 0, .5);
  padding: 30px 0 30px 0;
  font-weight: 500;
  text-align: center;
}

/** puts the background and sizes the 
  * Description Card
 * Description.js
 */
.DescriptionCard{
  margin: 0;
  background-image: url('./Photos/Storefront.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/** Creates the banner for the App Banner
 * AppBanner.js
 */
.AppBanner{
  display: flex;
  background: url("https://static.spacecrafted.com/b615cd82131d4de6aa5375843c6bc994/i/ad51f5bdd4ed445d9bfe651020facb5f/1/GCuCv726gZycFxatsKkTit/dreamstime_xl_47058826%20%25281%2529.jpg?dpr=2");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

/** makes the background darker so text can be seen
 * AppBanner.js
 */
.appOverlay{
  background: rgba(0, 0, 0, .25);
  width: 50%;
  padding: 100px 0 0 0;
}

/** Styles the display cards
 * SmallCard.js
 */
.smallCard{
  width: 200px;
  height: 275px;
  border-radius: 20px;
  margin: 0 auto 25px auto;
  background-color: springgreen;
}

/** Adds shadow to display cards
 * SmallCard.js
 */
.smallCard:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/** Styles the image on the top of the card
 * SmallCard.js
 */
.cardImgHeader{
  width: 200px;
  height: 200px;
  border-radius: 20px 20px 0 0;
}

/** Styles the text on the image
 * SmallCard.js
 */
.cardText{
  padding: 0 35px 0 35px;
  text-align: center;
}

/** Styles the deck (any group of cards)
 * BasicOperations.js
 * Wellness.js
 */
.deck{
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #8ea9cd;
}

/** Styles the image on the app banner
 * AppBanner.js
 */
.appImg{
  margin-left: 0;
  margin-right: auto;
  width: fit-content;
}

/** Styles the text on the app banner
 * AppBanner.js
 */
.appTxt{
  font-family: 'Itim', cursive;
  font-size: 1.5em;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: auto
}

/** Styles the banner for the location banner
 * Location.js
 */
.LocationBanner{
  display: flex;
  background-color: steelblue;
  margin: 0;
  padding: 0;
}

/** Styles the text for the location banner
 * Location.js
 */
.LocationText{
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
}

/** Styles the map for the location banner
 * Location.js
 */
.map{
  margin-left: 0;
  margin-right: 0;
  width: fit-content;
}

/** Keeps the text and the map next to each other
  * no matter the size of the window
 *Location.js
 */
.locationBlock{
  display: flex;
  margin: auto;
  width: fit-content;
  text-align: center;
}

/** Styles the footer bar
 * footer.js
 */
.footer{
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background-color: springgreen;
}

.noUnderline{
  text-decoration: none;
}

.whiteTxt{
  color: white;
}

/** Puts location in collum to save space
 * Location.js
 */
@media (max-width: 1000px) {
  .LocationBanner{
    flex-direction: column;
  }
}
@media (max-width: 600px) {
/** Hides the map to save space
 * Location.js
 */
  .map{
    display: none;
  }
/** makes the text fullscreen on mobile
 * AppBanner.js*/
 .appOverlay{
   width: 100%;
 }

 /** Makes small cards smaller to fit mobile
  * AppBanner.js
  */
  .smallCard{
    width: 100px;
    height: 175px;
  }
  .cardImgHeader{
    width: 100px;
    height: 100px;
  }
  .cardText{
    padding: 0 0 0 0;
  }
}